body{
    background-color: #d2aa8c;
}
h1,h2,h3,p{
    padding:0;
    margin:0;
}
.js-disabled{
    user-select:none;
    text-align: center;
    padding: 2%;
    margin:5%;
    margin-bottom:1%;
    background-color: #ffbeaa;
    color:rgb(0, 0, 0);
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0 0 3rem 0 rgba(36, 30, 30, 0.101);
    min-height:200px;
    display:block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ro-text{
    user-select:none;
}
footer{
    text-align: center;
    font-size: 8px;
    color:blanchedalmond;
}
.main-window{
    user-select:none;
    text-align: center;
    padding: 2%;
    margin:5%;
    margin-bottom:1%;
    background-color: #FFDAB9;
    color:rgb(0, 0, 0);
    border-radius: .5rem;
    box-shadow: 0 0 3rem 0 #0001;
    min-height:200px;
    display: block;
    align-items: center;
    word-wrap:normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.activity_text_label{
    text-align: justify;
    text-shadow: 2px 2px #5947470b;
    font-weight: bold;
}
.activity_text_content{
    text-align: justify;
}
.create-window{
    user-select:none;
    text-align: center;
    padding: 2%;
    margin:5%;
    margin-bottom:1%;
    background-color: rgba(255, 208, 196, 0.726);
    backdrop-filter: blur(0.2em);
    -webkit-backdrop-filter: blur(0.2em);
    color:rgb(0, 0, 0);
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0 0 3rem 0 rgba(28, 28, 28, 0.273);
    min-height:100px;
    display:block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.setup-window{
    user-select:none;
    text-align: center;
    padding: 2%;
    margin:5%;
    margin-bottom:1%;
    background-color: rgba(255, 208, 196, 0.348);
    backdrop-filter: blur(0.3em);
    -webkit-backdrop-filter: blur(0.3em);
    color:rgb(0, 0, 0);
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.327);
    min-height:200px;
    display: flex;
	align-items: center;
	justify-content: center;
    word-wrap:normal;
}
.app-window{
    user-select:none;
    text-align: center;
    padding: 2%;
    margin:0 auto;
    margin-bottom:1%;
    background-color: rgba(255, 201, 196, 0.348);
    backdrop-filter: blur(0.2em);
    -webkit-backdrop-filter: blur(0.2em);
    color:rgb(0, 0, 0);
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.327);
    min-height:200px;
    max-width:80%;
    width:auto;
    height:auto;
	display: block;
	align-items: center;
	justify-content: center;
    word-wrap:normal;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.app-activity-button{
    display:inline-block !important;
    margin:1% !important;
    border:0;
    width:auto;
    height:auto;
    color:rgb(0, 0, 0);
    background-color: rgba(244, 186, 180, 0.348);
}
.app-activity-button:hover{
    color:rgb(0, 0, 0);
    background-color: rgba(247, 213, 210, 0.348);
}
.app-activity-button:active{
    color:rgb(0, 0, 0);
    background-color: rgba(198, 157, 153, 0.348);
}
.loader_schedule_card{
    display:inline-block !important;
    margin:1% !important;
    border:0;
    color:rgb(0, 0, 0);
    background-color: rgba(244, 186, 180, 0.348);
    width:60%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.097) !important;
}
.loader-activity-card{
    display:inline-block !important;
    margin:1% !important;
    border:0;
    color:rgb(0, 0, 0);
    background-color: rgba(244, 186, 180, 0.348);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.163) !important;
}
.loader_button{
	display: flex !important;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    margin:1% !important;
    padding:0 !important;
    border:0 !important;
    color:rgb(0, 0, 0);
    background-color: rgba(201, 100, 89, 0.348);
    border-radius: .5rem;
    width:10% !important;
    height:40% !important;
    max-width:60px !important;
    max-height:60px !important;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.097) !important;
}

.loader_button:hover{
    color:rgb(0, 0, 0);
    background-color: rgba(247, 213, 210, 0.348);
}
#loader_window{
    min-width:80%;
    display:inline;
}
.setup-window{
    user-select:none;
    text-align: center;
    padding: 2%;
    margin:20%;
    margin-bottom:1%;
    background-color: rgba(236, 183, 178, 0.348);
    backdrop-filter: blur(0.2em);
    -webkit-backdrop-filter: blur(0.2em);
    color:rgb(0, 0, 0);
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.327);
    min-height:200px;
    min-width:50%;
    max-width:80%;
    width:auto;
    height:auto;
    display:block;
    word-wrap:normal;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.creation-button{
    user-select:none;
    text-align: center;
    align-self: center;
    padding:0;
    margin:5%;
    margin-top:0;
    margin-bottom:0;
    background: local;
    background-color:rgba(184, 100, 100, 0.542);
    color:rgb(0, 0, 0);
    border-radius: .5rem;
    box-shadow: 0 0 3rem 0 #0001;
    min-height:50px;
    min-width:50px;
    height:auto;
    width:auto;
    display:inline;
    left:0;
    position:relative;
    border:0;
}
    .creation-button:hover{
        background-color: lightcoral;
    }
    .creation-button:active{
        background-color: indianred;
    }
.setup-popup{
    width:auto;
    height:auto;
    min-height:20%;
    width:30%;
    margin-left:35%;
    margin-right:35%;
    user-select:none;
    background-color: rgba(24, 12, 12, 0.3);
    color:beige;
    box-shadow: 0 0 3rem 0 #0001;
    align-items: center;
    border-radius: .5rem;
    backdrop-filter: blur(0.2em);
    -webkit-backdrop-filter: blur(0.2em);
    position:flex;
    left:30%;
    top:20%;
}
.global-settings-popup{
    background-color: #282115a0;
    display:flex;
    border-radius: .5rem;
    backdrop-filter: blur(0.2em);
    -webkit-backdrop-filter: blur(0.2em);
    width:30%;
    height:40%;
}
.navbar{
    height:40px;
    padding:0;
    margin:1%;
    margin-bottom:0;
    background-color: #262017;
    color:rgb(237, 222, 222);
    align-items: auto;
    border-radius: .5rem;
    box-shadow: 0 0 3rem 0 rgba(137, 100, 100, 0.067);
    display:block;
    padding-right:1%;
    padding-left:2%;
    user-select:none;
}
.navbar-menu{
    left:0;
    margin:0;
    padding:0;
    margin-right:auto;
    align-items: center;
    align-self: left;
    display:inline;
    width:auto;
    min-width:100px;
    max-width:80%;
    height:inherit;
}
.navBarButton{
    width:auto;
    min-width:60px;
    height:inherit;
    min-height:40px;
    color:rgb(243, 212, 212);
    background-color: #b89e96;
    padding:0;
    margin:0;
    border:0;
    display:inline;
}
.navBarButton:hover{
    color:rgb(228, 200, 200);
    background-color: #c7aba2;
}
.navBarButton:action{
    color:rgb(211, 186, 186);
    background-color: #e2c5bb;
}
#nav-divider{
    color:black;
    width:auto;
    height:auto;
    font-size:15px;
    margin:0;
    padding:0;
    display:inline;
}
.langselect{
    color:rgb(214, 190, 190);
    font-size:15px;
    background: none;
    width:40px;
    height:40px;
    align-items:center;
    text-align:center;
    margin:0;
    padding:0;
    border:0;
    display:inline-block;
}
.langselect:hover{
    color:rgb(153, 135, 108);
}
.main-menu{
    background: none;
    display:block;
    padding: 0;
    margin:1%;
    height:auto;
    width:100%;
    align-content: center;
    align-items: center;
    align-self: center;
}
.navButton{
    border-radius: .5rem;
    background-color: #deaa9a;
    width:auto;
    min-width: 50px;
    height:30px;
    display:inline;
    margin-left:5%;
    margin-right:5%;
    padding:0;
    padding-left:5%;
    padding-right:5%;
    border:0;
    position: relative;
}
.navButton:hover{        
    background-color: #f8cabb;
    color:rgb(40, 37, 34);
}
.navButton:active{
    background-color: #da9f8d;
    color:rgb(72, 66, 61);

}
.startButton{
    border-radius: .3rem;
    background-color: rgba(230, 65, 65, 0.352);
    width:auto;
    min-width: 80px;
    height:80px;
    display:inline;
    margin-left:5%;
    margin-right:5%;
    padding:0;
    padding-left:5%;
    padding-right:5%;
    box-shadow: 0 0 3rem 0 rgba(229, 155, 155, 0.133);
    border:0;
    position: relative;
}
.startButton:hover{        
    background-color: rgb(214, 246, 235);
    color:rgb(40, 37, 34);
}
.startButton:active{
    background-color: rgb(123, 155, 144);
    color:rgb(72, 66, 61);

}
.left_button{
    align-self: left;
    left:0;
    right:0;
}
.right_button{
    align-self: right;
    left:0;
    right:0;
}
.js-disabled{
    text-align: center;
    user-select: none;
}
.main-popup-button{
    border-radius: .5rem;
    background-color: rgb(126, 211, 183);
    color:rgb(57, 54, 54);
    width:auto;
    min-width: 50px;
    height:50px;
    display:block;
    margin-left:5%;
    margin-right:5%;
    padding:0;
    padding-left:5%;
    padding-right:5%;
    border:0;
    position: sticky;
    align-self: center;
    left:45%;
}
    .main-popup-button:hover{
        background-color: rgb(140, 232, 201);
        color:rgb(44, 42, 42);
    }
    .main-popup-button:active{
        background-color: rgb(118, 196, 170);
        color:rgb(71, 68, 68);
    }
.mainmenu_popup{
    user-select:none;
    text-align: center;
    padding: 1%;
    margin:3%;
    background-color: rgba(65, 187, 105, 0.603);
    color:rgb(0, 0, 0);
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0 0 3rem 0 #0001;
    min-height:200px;
    min-width:100px;
    width:10%;
    height:auto;
    display:flexbox;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    backdrop-filter: blur(0.3em);
    z-index: 2;
    position:absolute;
    vertical-align: middle;
}
.popup-button{
    border-radius: .5rem;
    background-color: rgb(187, 119, 95);
    width:auto;
    min-width: 50px;
    height:30px;
    display:inline;
    margin-left:5%;
    margin-right:5%;
    padding:0;
    padding-left:5%;
    padding-right:5%;
    border:0;
    position: relative;
}